<div class="container">
	<h1>Contacts</h1>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-md-3">
			<!-- TODO: Add group filters
			<ul class="list-group">
				<a href="javascript:;" class="list-group-item" (click)="setFolderFilter('')">All</a>
				<a href="javascript:;" *ngFor="let ff of folderFilters" class="list-group-item" (click)="setFolderFilter(ff.id)">
					{{ ff.name }}
					<span class="badge">{{ ff.count }}</span>
				</a>
			</ul>
			-->
		</div>
		<div class="col-md-9">

			<div class="panel panel-default">

				<div class="panel-heading">

					<form class="form-inline" style="margin-bottom: 0px;">
						<div class="form-group">
							<label for="search">Search </label>
							<input (keyup)="setSearchFilter($event)" type="text" class="form-control" id="search" name="search" placeholder="Type search ...">
						</div>

						<div class="form-group pull-right">
							<label >Sort </label>
							<select class="form-control" (change)="setSortFilter($event)">
								<option value=""></option>
								<option value="created_at">Recent Activity</option>
								<option value="last_name">Name A-Z</option>
								<option value="-last_name">Name Z-A</option>
							</select>

						</div>
					</form>

				</div>

				<div class="search-results"
					 infinite-scroll
					 [infiniteScrollDistance]="1"
					 [infiniteScrollThrottle]="100"
					 (scrolled)="onScroll()" style="height: 100%">
					<table class="table">
						<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Company</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngIf="loadingTemps">
							<td><spinner></spinner></td>
						</tr>
						<tr *ngFor="let ct of contacts">
							<td><a href [routerLink]="['/contact/', ct.id]">{{ ct.first_name }} {{ ct.last_name }}</a></td>
							<td>{{ ct.email }}</td>
							<td>{{ ct.company }}</td>
						</tr>
						<tr *ngIf="loadingMore">
							<td><spinner></spinner></td>
						</tr>
						</tbody>
					</table>
				</div>

			</div>

		</div>
	</div>

</div>